
<h1 class="mb-5">Graficos</h1>

<div>
    <h3 class="mb-5"> Cantidad de ventas mensual de los últimos 12 meses.</h3>
    <%= column_chart @sales_amount_month%>
    <h3 class="my-5"> Promedio de venta mensual de los últimos 12 meses</h3>
    <%= column_chart @sales_average %>
</div>
