<div class="alert alert-primary" role="alert">
  Hola <%= current_user.username %> te contamos que haz realizado: <%= current_user.total%> compra(s) con nosotros
</div>
<div id="createData" class = "my-5"></div>