<div class="container">

    <h1>Home#indexUser</h1>
    <p>Find me in app/views/home/indexVisit.html.erb</p>
    
    <div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary">Left</button>
  <button type="button" class="btn btn-secondary">Middle</button>
  <button type="button" class="btn btn-secondary">Right</button>
</div>

</div>


<div id="createData" class = "my-5"></div>