<div class="container">

    <h1>Home#indexVisit</h1>
    <p>Find me in app/views/home/indexVisit.html.erb</p>
    
    <div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary">Left</button>
  <button type="button" class="btn btn-secondary">Middle</button>
  <button type="button" class="btn btn-secondary">Right</button>
</div>

</div>

<% unless current_user %>
<%= link_to 'Sign in with Facebook', user_facebook_omniauth_authorize_path, method: :post %>
<% else %>
<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
<% end %>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="https://images-na.ssl-images-amazon.com/images/I/71+mDoHG4mL.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://images-na.ssl-images-amazon.com/images/I/71+mDoHG4mL.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://images-na.ssl-images-amazon.com/images/I/71+mDoHG4mL.png" class="d-block w-100" alt="...">
    </div>
  </div>
</div>  